extends layout

block content
    - automation = typeof(automation) != 'undefined' ? automation : { }
    h1= "Systems"
    p="Select one or more systems from the list below:"
    .container
        table#datatables.table.table-border(style='width:100%;height:500px;margin-top:10px')
            thead
                tr
                    th HostName
                    th IFN
                    th CFN
                    th OSType
                    th SID
                    th DBType
                    th AppType
                    th CDIR
                    th CUSTNAME
                    th LOCATION
                    th ACTION
            tbody
                if automation.length
                    each item in automation
                        tr
                            td #{item['$HostName']}
                            td #{item['$IFN']}
                            td #{item['$CFN']}
                            td #{item['$OSType']}
                            td #{item['$SID']}
                            td #{item['$DBTYPE']}
                            td #{item['$AppType']}
                            td #{item['$CDIR']}
                            td #{item['$CUSTNAME']}
                            td #{item['$LOCATION']}
                            td 
block scripts
    script(src='/javascripts/user.js')                       